<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PetWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/header-fixed.css" />
    <link rel="stylesheet" href="~/css/loginout.css" />
    <link rel="stylesheet" href="~/css/carousel.css" />
    <link rel="stylesheet" href="~/css/filter.css" />
</head>
<body>
    @*header*@
    <nav class="navbar navbar-expand-lg navbar-light bg-white" id="headerFixed">
        <a class="navbar-brand ml-5 pl-5" asp-area="" asp-controller="Posts" asp-action="Index">
            <img src=@Url.Content("~/images/icons/logo.png") alt="Pet Club Logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ml-5 pl-5" id="navbarNavAltMarkup">
            <div class="navbar-nav mr-5 h6">
                <a class="nav-item nav-link @(ViewContext.RouteData.Values["Action"]!=null?ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "":"")" asp-area="" asp-controller="Home" asp-action="Index">Trang chủ </a>
                <a class="nav-item nav-link @(ViewContext.RouteData.Values["Action"]!=null?ViewContext.RouteData.Values["Action"].ToString() == "Contact" ? "active" : "":"")" asp-area="" asp-controller="Home" asp-action="Contact">Liên hệ</a>
                <a class="nav-item nav-link @(ViewContext.RouteData.Values["Action"]!=null?ViewContext.RouteData.Values["Action"].ToString() == "About" ? "active" : "":"")" asp-area="" asp-controller="Home" asp-action="About">Về chúng tôi</a>
            </div>
            <partial name="_LoginPartial" />
        </div>
    </nav>
    @*header*@
    <div class="@(ViewContext.RouteData.Values["Action"]!=null?ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "container-fluid" : "container":"container")">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted text-center">
        <div class="container">
            &copy; 2020 - Cứu trợ động vật tại Việt Nam- <a asp-area="" asp-controller="Home" asp-action="Contact">Liên hệ</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/header-fixed.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
