@using Microsoft.AspNetCore.Identity
@inject UserManager<PetWeb.Data.CustomUser> UserManager
@model IEnumerable<PetWeb.Models.Post>


<div class="card-columns">
    @foreach (var item in Model)
    {
        var animalName = item.AnimalId == 1 ? "Mèo" : item.AnimalId == 2 ? "Chó" : "Động vật khác";
        <div class="card border-info  mb-3">
            <img class="card-img-top card-thumbnail" src="~/images/@item.ImageURL" alt="Card image cap" data-toggle="tooltip" data-placement="top" title=@animalName>
            <div class="card-body" style="height:160px;">
                <h5 class="card-title d-flex align-items-center" style="height:50px;">@item.Title</h5>
                <p>
                    <span><strong>Trạng thái:</strong></span>
                    @switch (@item.Status.ToString())
                    {
                        case "Available":
                            <span class="font-weight-normal">
                                Chưa có người giúp
                            </span>
                            break;
                        case "OnHold":
                            <span class="font-weight-normal">
                                Đang có người giúp
                            </span>
                            break;
                        case "Solved":
                            <span class="font-weight-normal">
                                Đã xong
                            </span>
                            break;
                        default:
                            break;
                    }
                </p>
                <p>
                    <span><strong>Loại cứu trợ:</strong></span>
                    @switch (@item.CategoryId)
                    {
                        case 1:
                            <span class="font-weight-normal">
                                Nhận nuôi
                            </span>
                            break;
                        case 2:
                            <span class="font-weight-normal">
                                Bệnh tật
                            </span>
                            break;
                        default:
                            <span class="font-weight-normal">
                                Giúp đỡ
                            </span>
                            break;
                    }
                </p>
            </div>

            <div class="card-footer d-flex justify-content-between">
                <span>@item.PostedDate.ToString("dd MMM yyyy")</span>
                @*<button class="btn btn-outline-info" type="button" data-toggle="modal" data-target="#myModal"
                            data-title="@item.Title" data-description="@item.Description" data-image="@item.ImageURL"
                            data-user="@UserManager.Users.ToList().Find(User => User.Id == item.UserID).PhoneNumber" data-date="@item.PostedDate">
                        Xem chi tiết
                    </button>*@
                <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id" asp-controller="Posts">Xem chi tiết</a>
            </div>
        </div>

    }
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <img class="card-img-top" src="" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text" id="description"></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <p class="font-weight-bold">Liên hệ người đăng: </p>
                    <p id="user"></p>
                </div>
            </div>
        </div>
    </div>
</div>

