
@using Microsoft.AspNetCore.Identity
@inject UserManager<PetWeb.Data.CustomUser> UserManager
@inject SignInManager<PetWeb.Data.CustomUser> SignInManager
@model PetWeb.ViewModels.CommentViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<div class="row mt-5">
    <div class="col-6 shadow">
        <img src="~/Images/@Model.Post.ImageURL" alt="Picture" class="img-fluid" />
    </div>
    <div class="col-6 mt-2 px-5">
        <h2 style="font-family: 'Pangolin', cursive;">@Model.Post.Title</h2>
        <p>
            @Model.Post.Content
        </p>
        <div class="row">
            <div class="col-6">
                <h6>
                    Ngày đăng:
                    <span class="font-weight-normal"> @Model.Post.DatePosted.ToString("dd/MM/yyyy")</span>
                </h6>
                <h6>
                    Địa điểm:
                    <span class="font-weight-normal">
                        @Model.Post.Area.Description
                    </span>
                </h6>
                <h6>
                    Người đăng:
                    <span class="font-weight-normal">
                        <a asp-action="Details" asp-route-id="@Model.Post.UserID" asp-controller="Users">
                            @UserManager.FindByIdAsync(Model.Post.UserID).Result.UserName
                        </a>
                    </span>

                </h6>
            </div>
        </div>
    </div>
</div>



@if (SignInManager.IsSignedIn(User))
{
    <div class="row mt-5">
        <div class="col-6">
            <h4>Bình luận</h4>
            <form method="post" action="/Posts/AddComment" id="form-comment">
                <textarea @*class="form-element"*@ name="comment" cols="75" rows="3" id="textarea-comment"> </textarea>
                <br />
                <input @*class="form-element"*@ value=@User.Identity.Name name="userId" type="hidden" />
                <input type="hidden" value=@Model.Post.Id name="postId" />
                <button type="submit" class="btn btn-info float-right w-25">Đăng</button>
            </form>
        </div>
    </div>
}
else
{
    <div class="row mt-5">
        <div class="col-6">
            <h4>Bình luận</h4>
            <h6 class="font-italic font-weight-normal">(Bạn cần <span><a asp-area="Identity" asp-page="/Account/Login">đăng nhập</a></span> để đăng bình luận)</h6>
        </div>
    </div>
}

<div class="mt-5 col-6" id="comments-box">
    <partial name="CommentPartial" />
</div>
