
@using Microsoft.AspNetCore.Identity
@inject UserManager<PetWeb.Data.CustomUser> UserManager
@inject SignInManager<PetWeb.Data.CustomUser> SignInManager
@model PetWeb.ViewModels.CommentViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<div class="row mt-5">
    <div class="col-6">
        <img src="~/Images/@Model.Post.ImageURL" alt="Picture" class="img-fluid" />
    </div>
    <div class="col-6 mt-5 px-5">
        <h4>@Model.Post.Title</h4>
        <p>
            @Model.Post.Description
        </p>
        <div class="row">
            <div class="col-6">
                <h6>
                    Ngày đăng:
                    <span> @Model.Post.PostedDate.ToString("dd/MM/yyyy")</span>
                </h6>
                <h6>
                    Địa điểm:

                    @switch (Model.Post.CityId)
                    {
                        case 1:
                            <span>
                                Đà Nẵng
                            </span>
                            break;
                        case 2:
                            <span>
                                Hà Nội
                            </span>
                            break;
                        case 3:
                            <span>
                                Tp. Hồ Chí Minh
                            </span>
                            break;
                        default:
                            <span>
                                Khu vực khác
                            </span>
                            break;

                    }
                </h6>
            </div>
            <div class="col-6">
                <h6>
                    Động vật:

                    @switch (Model.Post.AnimalId)
                    {
                        case 1:
                            <span>
                                Mèo
                            </span>
                            break;
                        case 2:
                            <span>
                                Chó
                            </span>
                            break;
                        default:
                            <span>
                                Khác
                            </span>
                            break;
                    }
                </h6>
                <h6>
                    Loại cứu trợ:

                    @switch (Model.Post.CategoryId)
                    {
                        case 1:
                            <span>
                                Nhận nuôi
                            </span>
                            break;
                        case 2:
                            <span>
                                Bệnh tật
                            </span>
                            break;
                        default:
                            <span>
                                Giúp đỡ
                            </span>
                            break;
                    }
                </h6>
            </div>
        </div>
    </div>
</div>



@if (SignInManager.IsSignedIn(User))
{
    <div class="row mt-5">
        <div class="col-6">
            <form method="post" action="/Posts/AddComment">
                <textarea class="form-element" name="comment" cols="75" rows="3"> </textarea>
                <br />
                <input class="form-element" value=@User.Identity.Name name="userId" type="hidden" />
                <input type="hidden" value=@Model.Post.Id name="postId" />
                <button type="submit" class="btn btn-primary float-right">Đăng</button>
            </form>
        </div>
    </div>
}

<div class="mt-5">
    @foreach (var comment in Model.Comments)
    {
    <div class="row">
        <h6 class="mr-5">@comment.Username</h6>
        <p class="ml-5">@comment.DateComment</p>
    </div>
        

        <div>@comment.Content</div>
        <hr />
    }
</div>