
@using Microsoft.AspNetCore.Identity
@inject UserManager<PetWeb.Data.CustomUser> UserManager
@inject SignInManager<PetWeb.Data.CustomUser> SignInManager
@model PetWeb.ViewModels.CommentViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<div class="row mt-5">
    <div class="col-6 shadow">
        <img src="~/Images/@Model.Post.ImageURL" alt="Picture" class="img-fluid" />
    </div>
    <div class="col-6 mt-2 px-5">
        <h2 style="font-family: 'Pangolin', cursive;">@Model.Post.Title</h2>
        <p>
            @Model.Post.Description
        </p>
        <div class="row">
            <div class="col-6">
                <h6>
                    Ngày đăng:
                    <span class="font-weight-normal"> @Model.Post.PostedDate.ToString("dd/MM/yyyy")</span>
                </h6>
                <h6>
                    Địa điểm:
                    <span class="font-weight-normal">
                        @Model.Post.City.Description
                    </span>
                    @*@switch (Model.Post.CityId)
                        {
                            case 1:
                                <span class="font-weight-normal">
                                    Đà Nẵng
                                </span>
                                break;
                            case 2:
                                <span class="font-weight-normal">
                                    Hà Nội
                                </span>
                                break;
                            case 3:
                                <span class="font-weight-normal">
                                    Tp. Hồ Chí Minh
                                </span>
                                break;
                            default:
                                <span class="font-weight-normal">
                                    Khu vực khác
                                </span>
                                break;

                        }*@
                </h6>
                <h6>
                    Người đăng:
                    <span class="font-weight-normal">
                        <a asp-action="Details" asp-route-id="@Model.Post.UserID" asp-controller="Users">
                            @UserManager.FindByIdAsync(Model.Post.UserID).Result.UserName
                        </a>
                    </span>

                </h6>
                <h6>
                    Trạng thái:

                    @switch (Model.Post.Status.ToString())
                    {
                        case "Available":
                            <span class="font-weight-normal">
                                Chưa có người giúp
                            </span>
                            break;
                        case "OnHold":
                            <span class="font-weight-normal">
                                Đang có người giúp
                            </span>
                            break;
                        case "Solved":
                            <span class="font-weight-normal">
                                Đã xong
                            </span>
                            break;
                        default:
                            break;
                    }
                </h6>
            </div>
            <div class="col-6">
                <h6>
                    Động vật:
                    <span class="font-weight-normal">
                        @Model.Post.Animal.Description
                    </span>
                    @*@switch (Model.Post.AnimalId)
                        {
                            case 1:
                                <span class="font-weight-normal">
                                    Mèo
                                </span>
                                break;
                            case 2:
                                <span class="font-weight-normal">
                                    Chó
                                </span>
                                break;
                            default:
                                <span class="font-weight-normal">
                                    Khác
                                </span>
                                break;
                        }*@
                </h6>
                <h6>
                    Loại cứu trợ:
                    <span class="font-weight-normal">
                        @Model.Post.Category.Description
                    </span>
                    @*@switch (Model.Post.CategoryId)
                        {
                            case 1:
                                <span class="font-weight-normal">
                                    Nhận nuôi
                                </span>
                                break;
                            case 2:
                                <span class="font-weight-normal">
                                    Bệnh tật
                                </span>
                                break;
                            default:
                                <span class="font-weight-normal">
                                    Giúp đỡ
                                </span>
                                break;
                        }*@
                    <span class="font-weight-normal">
                    </span>
                    <span class="font-weight-normal">
                    </span>
                    <span class="font-weight-normal">
                    </span>
                </h6>
                <h6>
                    Liên hệ:
                    <span class="font-weight-normal">@UserManager.FindByIdAsync(Model.Post.UserID).Result.PhoneNumber</span>
                </h6>
            </div>
        </div>
    </div>
</div>



@if (SignInManager.IsSignedIn(User))
{
    <div class="row mt-5">
        <div class="col-6">
            <h4>Bình luận</h4>
            <form method="post" action="/Posts/AddComment" id="form-comment">
                <textarea @*class="form-element" *@ name="comment" cols="75" rows="3" id="textarea-comment"> </textarea>
                <br />
                <input @*class="form-element" *@ value=@User.Identity.Name name="userId" type="hidden" />
                <input type="hidden" value=@Model.Post.Id name="postId" />
                <button type="submit" class="btn btn-info float-right w-25">Đăng</button>
            </form>
        </div>
    </div>
}
else
{
    <div class="row mt-5">
        <div class="col-6">
            <h4>Bình luận</h4>
            <h6 class="font-italic font-weight-normal">(Bạn cần <span><a asp-area="Identity" asp-page="/Account/Login">đăng nhập</a></span> để đăng bình luận)</h6>
        </div>
    </div>
}

<div class="mt-5 col-6" id="comments-box">
    <partial name="CommentPartial" />
</div>
