
@model IEnumerable<PetWeb.Models.Post>

@{
    ViewData["Title"] = "ViewHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="font-family: 'Pangolin', cursive;">Các bài đã đăng</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a>
                </td>
                <td>
                    <img src="~/Images/@item.ImageURL" class="rounded-circle zoom-img" width="40" height="40" asp-append-version="true" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostedDate)
                </td>
                <td>
                    @switch (item.Status.ToString())
                        {
                            case "Available":
                                <span class="font-weight-normal">
                                    Chưa có người giúp
                                </span>
                                break;
                            case "OnHold":
                                <span class="font-weight-normal">
                                    Đang có người giúp
                                </span>
                                break;
                            case "Solved":
                                <span class="font-weight-normal">
                                    Đã xong
                                </span>
                                break;
                            default:
                                break;
                        }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Chỉnh sửa</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
